// .backImg {
//   width: 100%;
//   height: 100vh;
//   // background-color: chartreuse;
//   background-image: url('/assets/img3.jpg');
//   background-repeat: repeat-y;
//   background-size: 100% 100%; // make images in center and property of CSS3
//   background-attachment: fixed;
// }

// .backImg1 {
//   width: 100%;
//   height: 100vh;
//   // background-color: chartreuse;
//   background-image: url('/assets/img4.jpg');
//   background-repeat: repeat-y;
//   background-size: 100% 100%; // make images in center and property of CSS3
//   background-attachment: fixed;
// }

// #fontCss {
//   font-family: 'Noto Serif', serif;
//   font-variant: small-caps; // reduces the size of letter
//   font-size: 2em; // 1em= 16 px; 1rem= 16 px;
//   font-style: italic;
//   font-weight: 900; // value from 100 to 900 and max value is 900 and we can also take bold and light as a value
// }

// Difference b/w font and text is that overall sentence is changed in font but only single text is considered as text
// #textCss {
//   font-family: 'Nothing You Could Do', cursive;
//   color: red;
//   letter-spacing: 2px;
//   word-spacing: 10px;
//   // direction: ltr;
//   text-indent: 50px;
//   text-align: center;
//   text-transform: uppercase;
// }

// unvisited link
// a:link{
//   color: red;
// }
// // visited link
// a:visited {
//   color: green;
// }
// // mouse hover link
// a:hover {
//   color: yellow;
// }
// // selected link
// a:active {
//   color: blue;
// }

// .borderCss {
//   width: 500px;
//   height: 300px;
//   background-color: red;
//   // border-style:solid;
//   // border-width:2px;
//   // border-color: black;
//   border:2px solid black;
//   border-radius: 10px;
// }

// ul{
//   list-style-type: square; // bullet by default we cantake circle etc
// }
// ol{
//   // list-style-type: upper-alpha;
//   list-style-type: lower-alpha; // we can also take upper-roman or lower
// }

// Padding is space between content and border and margin is space of outside border
// .boxModel {
//   width: 300px;
//   height: 200px;
//   background-color: red;
// }
// input{
//   padding-left: 5px; // sequence is from top right bottom and left
//   margin: 10px;
// }

// Overflow property
// p{
//   width: 200px;
//   height: 100px;
//   border: 1px solid red;
//  // overflow: hidden; // text is show only that is fitted into that division remaining disappear
//  // overflow: auto; // add scrollbar only in vertical side
//  // overflow: scroll; // add scroll bar on horizontal and vertical both
//  overflow-x: scroll;
// }

//Positioning in which by default all child element always appear vertically
// .father {
//   width: 100%;
//   height: 500px;
//   background-color: red;
// }
// .child1{
//   width: 100px;
//   height: 60px;
//   background-color: yellow;
//   position: absolute;
//   // left: 0;
// }
// .child2{
//   width: 100px;
//   height: 60px;
//   background-color: green;
//   position: absolute;
//   // right: 0;
//   z-index: 1;
// }
// .child3{
//   width: 100px;
//   height: 60px;
//   background-color: palevioletred;
//   position: absolute;
//   z-index: 3; // value of z-index:  is higher then that child element must be displayed on the top;
//   // bottom: 0;
//   // right: 0;
// }
// .child4{
//   width: 100px;
//   height: 60px;
//   background-color: orange;
//   position: absolute; // by default last children is always shown on the top if we want to display child 2 on top then we have to use z-index property
//   // bottom: 0;
//   z-index: 2;
// }

// css float
.header {
  width: 100%;
  height: 50px;
  background-color: black;
}
.logo {
  width: 30%;
  background-color: orange;
  line-height: 50px; // used to align text in center
  text-align: center;
  float: left;
}
.menu {
  width: 70%;
  line-height: 50px;
  text-align: center;
  background-color: red;
  float: right;
  height:50px;
}
ul{
  list-style: none;
  height: 50px;
  text-align: right; // it is used to move the text to right side and we can also use direction but still it is the best way
  //direction: rtl; // it moves the list to right side
}
li {
  // display:inline; // dispalyed in one line
  // display: block; // displayed in block and occupy all available width
  // display: none; // all content is disappear by using none as value
 // border: 1px solid black;
  display: inline-block; // every block in same line
  padding: 0 10px;
}
