<!-- <div class="backImg"></div> -->

<!-- <p id="fontCss">Welcome to My Channel:) Keep Smiling:) </p> -->

<!-- <div class="backImg1"></div> -->

<!-- <p  href="https://fonts.googleapis.com/css?family=Nothing+You+Could+Do&display=swap" id="textCss">Welcome to My Channel:) Keep Smiling:)</p> -->

<!-- <p>
  <b><a href="demo.php" target="_blank">This is link</a></b>
</p>
<p><b>Note:</b> a:hover must come after a:link and a:visited in the css definition in
order to be effective</p>
<p><b>Note:</b> a:active must come after a:hover in the css definition in
order to be effective.</p> -->

<!-- <div class="borderCss"></div> -->

<!-- <ul>
  <li>Home</li>
  <li>Home</li>
  <li>Home</li>
</ul>
<ol>
    <li>About</li>
    <li>About</li>
    <li>About</li>
  </ol> -->

<!-- Box Model property -->
<!-- <div class="boxModel">
  <label>UserName</label>
  <input type="text" name="">
</div> -->

<!-- Scrollbar i.e Overflow -->
<!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
   Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
   when an unknown printer took a galley of type and scrambled it to make a type
   specimen book. It has survived not only five centuries, but also the leap into
   electronic typesetting, remaining essentially unchanged.
   It was popularised in the 1960s with the release of Letraset sheets containing
   Lorem Ipsum passages, and more recently with desktop publishing software like
   Aldus PageMaker including versions of Lorem Ipsum.
   Why do we use it?

   It is a long established fact that a reader will be distracted by the readable
   content of a page when looking at its layout. The point of using Lorem Ipsum is that
   it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
    content here', making it look like readable English. Many desktop publishing packages
     and web page editors now use Lorem Ipsum as their default model text, and a search for
      'lorem ipsum' will uncover many web sites still in their infancy. Various versions have
      evolved over the years, sometimes by accident, sometimes on purpose (injected humour and
       the like).
   Where does it come from?
    Contrary to popular belief, Lorem Ipsum is not simply random text.
    It has roots in a piece of classical Latin literature from 45 BC,
    making it over 2000 years old. Richard McClintock, a Latin professor
    at Hampden-Sydney College in Virginia, looked up one of the more obscure
    Latin words, consectetur, from a Lorem Ipsum passage, and going through the
     cites of the word in classical literature, discovered the undoubtable source.</p> -->

<!-- Postioning property -->
<!-- z-index is used to display element on top and only used with position property. if we have element with same width and height then
by default last child is shown on top then we use z-index property to display element on top which we want -->
<!-- <div class="father">
  <div class="child1">Child 1</div>
  <div class="child2">Child 2</div>
  <div class="child3">Child 3</div>
  <div class="child4">Child 4</div>
</div> -->

<!-- CSS float property -->
 <div class="header">
    <div class="logo">Loreum Ipsum</div>
      <div class="menu">
        <ul>
          <li>Home</li>
          <li>About</li>
          <li>Contact</li>
        </ul>
      </div>
</div>

 <!--Different types of Cursor in CSS -->

 <div style="cursor:auto">Auto</div>
 <div style="cursor:crosshair">Crosshair</div>
 <div style="cursor:default">Default</div>
 <div style="cursor:pointer">Pointer</div>
 <div style="cursor: move">Move</div>
 <div style="cursor:e-resize">e-resize</div><!--east resize-->
 <div style="cursor: ne-resize">ne-resize</div> <!--north east direction-->
 <div style="cursor: nw-resize">nw-resize</div> <!--north west-->
 <div style="cursor: n-resize">n-resize</div>
 <div style="cursor: se-resize">se-resize</div>
 <div style="cursor: s-resize">s-resize</div>
 <div style="cursor: w-resize">w-resize</div> <!-- west direction-->
 <div style="cursor: text">Text</div>
 <div style="cursor: wait">Wait</div>
 <div style="cursor: help">Help</div>




